*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Avenir;
    list-style: none;
}

body{
    background-color: #090b13;
}

/* HEADER */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.3rem 1rem 2.7rem;
    background-color: #090b13;
    width:100%;
    position: fixed;
    z-index: 20;
}

.header__logo{
    width: 6.4rem;
}

.header__btn-container{
    display:flex;
}

.header__btn1{
    height: 4rem;
    font-size: 13px;
    padding: 0.7rem 1.2rem 0.8rem 1.2rem;
    margin-left: 1rem;
    background-color: #fc3c36;
    color: #f9f9f9;
    border: none;
    border-radius: 0.4rem;
    transition: all 0.2s;
}

.header__btn2{
    height: 4rem;
    font-size: 13px;
    padding: 0.7rem 0.9rem 0.8rem 0.9rem;
    margin-left: 1rem;
    background-color: #4E4A59;
    color: #f9f9f9;
    border: none;
    border-radius: 0.4rem;
    transition: all 0.2s;
}

/* MAIN */

.main{
    background-image: url(../images/image-1portada.png);
    background-size:cover;
    background-position: top;
    color:#f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1.6rem;
    padding-bottom: 2.2rem;
}

.main__logo{
    width: 16rem;
    margin-top: 40vw;
}

.main__title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    margin-top: 1rem;
}

.main__btn{
    width: 100%;
    max-width: 540px;
    margin-top: 1rem;
    font-size: 15px;
    color:#f9f9f9;
    background-color: #6421ff;
    border: none;
    border-radius: 0.4rem;
    padding: 1.4rem 2.4rem 1.4rem 2.4rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.main__signup{
    color:#f9f9f9;
    font-size: 14px;
    margin-top: 2.3rem;
    letter-spacing: .2px;
}

@keyframes efecto_chevron{
    0%{transform: translate(0px, 0px)}
    10%{transform: translate(0px, 0px)}
    30%{transform: translate(0px, -5px)}
    35%{transform: translate(0px, -5px)}
    45%{transform: translate(0px, -1px)}
    50%{transform: translate(0px, -3px)}
    62%{transform: translate(0px, 0px)}
    100%{transform: translate(0px, 0px)}
}


.main__chevron{
    margin-top: 10vw;
    animation-name: efecto_chevron;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
}

/* PLANS */

.plans{
    background-color: #090b13;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 1.6rem;
}

.plans__title{
    color:#f9f9f9;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 8rem;
}

.plans__container{
    display: flex;
    flex-direction: column;
}

.plans__card{
    padding:0rem 4rem;
    max-width: 380px;
}

.plans__card-2{
    padding:0rem 4rem;
    margin-bottom: 12rem;
    margin-top: 10rem;
    background-image: url(../images/fondocard.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 6.5rem;
    max-width: 380px;
}

.plans__card-logo{
    width:100%;
}

.plans__card-price{
    color:#f9f9f9;
    margin-top: 2.4rem;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
}

.plans__card-p{
    color:#cacaca;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}

.plans__card-btn{
    width: 100%;
    margin-top: 1rem;
    font-size: 15px;
    color:#f9f9f9;
    background-color: #6421ff;
    border: none;
    border-radius: 0.4rem;
    padding: 1.4rem 2.4rem 1.4rem 2.4rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.plans__extracharge{
    color: #cacaca;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-top: 5rem;
}

/* WATCH  */

.watch{
    background-color: #090b13;
    padding: 10vw 5vw;
}

.watch__container-title{
    color: #ffffff;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 1.8rem;
}

.watch__container-p{
    color:#cacaca;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 2rem;
}

.watch__img{
    width: 100%;
}

.watch__img-2{
    display:none;
}

/* ESPN */

.espn{
    background-color: #090b13;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw 5vw;
}

.espn__container{
    text-align: center;
    padding: 0rem .64rem;
}

.espn__container-title{
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.espn__container-subtitle{
    font-size: 15px;
    line-height: 25px;
}

.espn__container-p{
    font-size: 11px;
    line-height: 15px;
}

.espn__container-subtitle, .espn__container-p{
    color: #cacaca;
    margin-bottom: 2rem;
}

.espn__img{
    width: 100%;
}

/* SIMPSONS */

.simpsons{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1373d1;
    padding-top:3.2rem;
}

.simpsons__container{
    padding: 10vw 5vw;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simpsons__title{
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 1.6rem;
    color: #f9f9f9;
}

.simpsons__p{
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 1.6rem;
    font-weight: 400;
    color: #f9f9f9;
}

.simpsons__copyright{
    color: #cacaca;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 4rem;
}

.simpsons__p, .simpsons__copyright, .simpsons__title{
    text-align: center;
}

.simpsons__img{
    width: 100%;
}


/* DEVICES */

.device{
    background-color:#090b13;
    padding:10vw 5vw;
}

.device__title{
    color: #f9f9f9;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 1.6rem;
    font-weight: 700;
    text-align: center;
}

.device__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.device__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 12px);
    margin-bottom: 2rem;
}

.device__card-title{
    color:#f9f9f9;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 2rem;
    margin-bottom: 1.6rem;
    text-align: center;
}

.device__card-ul{
    padding: 0rem;
}

.device__card-li{
    color: #cacaca;
    list-style: none;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    padding: 0rem;
}

.device__card-img{
    width:100%;
}

/* FAQ */

.faq{
    background-color: #090b13;
    display: flex;
    flex-wrap: wrap;
    padding: 10vw 5vw;
}

.faq__title{
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #f9f9f9;
    text-align: center;
    width: 100%;
}

.faq__card{
    background-color: #35313F;
    width: 100%;
    margin-top: 1.6rem;
    padding: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.faq__card-question{
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #f9f9f9;
    margin: 0;
}

.faq__card-icon{
    color: #f9f9f9;
}

/* FOOTER */

.footer{
    background-color: #090b13;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.footer__logo{
    width:8rem;
    align-self: center;
    margin-top: 2rem;
    margin-bottom:1rem;
}

.footer__container-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.footer_container-globe{
    width: 2rem;
    margin-right: 0.5rem;
}

.footer__container-lang{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__container-lang a, .footer__container-li a{
    color: #cccccc;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .2px;
    font-size: 11px;
    text-decoration: none;
}

.footer__container-lang, .footer__container-li{
    padding: 0.8rem 1.2rem;
}

.footer__chevron{
    margin-left: 0.5rem;
}

.footer__copyright{
    padding: 0rem 2rem;
}

.footer__adress{
    padding: 0rem 1.5rem;
}

.footer__copyright, .footer__adress{
    color: #cacaca;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .2px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

.main__btn, .plans__card-btn{
    transition: background-color .2s,
    opacity 0.02s,
    width 0.02s,
    height 0.02s;
}

.main__btn:hover, .plans__card-btn:hover{
    background-color: #8525eb;
    transition: all .2s;
}

.main__btn:focus{
    opacity: 80%;
    width: 97%;
    padding: 3%;    
    transition: all 0.02s;
}

.plans__card-btn:focus{
    opacity: 80%;    
    transition: all 0.02s;
}

.header__btn1:hover{
    background-color: #ff453f;
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 1px;
}

.header__btn2:hover{
    background-color: #35313F;
}

.footer__container-lang a:hover, .footer__container-li a:hover{
    color:#FFFFFF;
}

.main__signup:hover{
    color:#f9f9f9;
    font-size: 14px;
    margin-top: 2.3rem;
    letter-spacing: .2px;
}

/* MOBILE L */

@media (min-width:425px){

    /* HEADER */
    
    .header{
        padding: 0.6rem 1.8rem 0.6rem 3.5rem;
    }
    
    /* PLANS */

    .plans__card-2{
        background-image: url(../images/fondocard-mobileL.png);
        background-position: center;
    }

    .plans__card-p{
        padding: 0rem 1.2rem;
        line-height: 25px;
    }

    /* DEVICES */

    .device__title{
        padding: 0 2rem;
    }

    /* FOOTER */

    .footer{
        padding-bottom: 3rem;
    }
}

@media (min-width:478px){
    
    /* HEADER */

    .header{
        padding: 1.5rem 1.8rem 1.5rem 3.5rem;
    }

    .header__btn1, .header__btn2{
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 1px;
        transition: all 0.2s;
    }
}

/* TABLET */

@media (min-width:770px){

    .header{
        padding: 1rem 4rem 1rem 5.5rem;
    }

    .header__logo{
        width: 8rem;
    }

    .header__btn1, .header__btn2{
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1px;
        padding: 0.8rem 1.8rem;
        height: 50px;
        transition: all 0.2s;
    }

    /* MAIN */

    .main__logo{
        width: 18rem;
        margin-top: 26vw;
        margin-bottom: 2vw;
    }

    .main__title{
        font-size: 24px;
        line-height: 34px;
    }
    
    .main__btn{
        max-width: 640px;
        padding: 2.5rem 3.3rem;
        font-size: 18px;
        line-height: 18px;
    }

    .main__signup{
        font-size: 15px;
        line-height: 25px;
    }

    .main__chevron{
        margin-top: 2.6vw;
    }

    /* PLANS */

    .plans{
        padding: 10vw 5vw;
    }

    .plans__title{
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 2rem;
    }

    .plans__container{
        flex-direction: row;
        justify-content: space-between;
    }

    .plans__card-logo{
        padding:6rem 1.5rem 0rem 1.5rem;
    }

    .plans__card{
        width: calc(33.3% - 16px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left:2rem;
        padding-right: 2rem;
    }

    .plans__card-2{
        width: calc(33.3% - 16px);
        margin: 0;
        padding-top: 0;
        background-position: top;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left:2rem;
        padding-right: 2rem;
    }

    .plans__card-price{
        font-size: 24px;
        line-height: 34px;
        margin-top: 3rem;
    }

   

    .plans__card-p{
        padding: 0 1.8rem;
        font-size: 16px;
        line-height: 26px;
    }

    .plans__card-btn{
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1px;
        width: 81%;
        margin:0;
        margin-top: auto;
    }

    /* WATCH */

    .watch__container-title{
        font-size: 28px;
        line-height: 38px;
    }

    .watch__img{
        display: none;
    }

    .watch__img-2{
        display: block;
        width: 100%;
    }

    /* ESPN */

    .espn{
        background-color: #090b13;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10vw 5vw;
    }

    .espn__container{
        width: 48%;
        text-align:start;
        padding: 0 2vw;
    }

    .espn__img{
        width: 50%;
    }

    .espn__container-title{
        font-size: 28px;
        line-height: 38px;
    }

    .espn__container-subtitle{
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 4rem;
    }

    .espn__container-p{
        font-size: 12px;
        line-height: 16px;
    }

    /* SIMPSONS */

    .simpsons{
        align-items: start;
        background-image: url(../images/simspons-side.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .simpsons__container{
        padding: 1vw 5vw;
        align-items: start;
        margin-bottom: 35%;
        width:57%;
    }

    .simpsons__title, .simpsons__p{
        text-align: start;
    }

    .simpsons__title{
        font-size: 28px;
        line-height: 38px;
    }

    .simpsons__p{
        font-size: 18px;
        line-height: 28px;
    }

    .simpsons__copyright{
        font-size: 12px;
        line-height: 16px;
    }

    .simpsons__img{
        display:none;
    }

    /* DEVICE */

    .device__title{
        font-size: 28px;
        line-height: 38px;
        font-weight: 700;
        margin-bottom: 18px;
    }

    .device__card{
        width: calc(25% - 18px);
    }

    .device__card-title{
        font-size: 24px;
        line-height: 34px;
    }

    .device__card-li{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: .2px;
    }

    /* FAQ */

    .faq__title{
        font-size: 28px;
        line-height: 38px;
    }

    .faq__card-question{
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }

    /* FOOTER */

    .footer{
        padding: 5vw 5vw 6vw 5vw;

    }
    
    .footer__container-ul{
        padding: 0 2rem;
    }

    .footer__container-li {
        padding: 0.8rem 1.6rem;
    }

    .footer__copyright{
        margin-bottom: 2rem;
    }

    .footer__adress{
        font-size: 12px;
        line-height: 16px;
        padding: 0rem;
    }

}

/* PC */

@media (min-width: 1024px){
    
    /* MAIN */

    .main{
        background-image: url(../images/image-1portada1.png);
        padding-left: 28%;
        padding-right: 28%;
    }

    .main__logo{
        margin-top: 22vw;
    }

    .main__title{
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 2.4rem;
    }

    .main__btn{
        max-width: 700px;
    }

    .main__signup{
        font-size: 16px;
        line-height: 26px;
    }

    /* PLANS */

    .plans{
        padding: 5.6vw;
    }

    .plans__title{
        font-size: 44px;
        line-height: 54px;
    }

    .plans__card, .plans__card-2{
        width: calc(33.3% - 16px);
    }


    .plans__card-price{
        font-size: 28px;
        line-height: 38px;
        padding: 0 3.5rem;
    }

    .plans__card-btn{
        width: 80%;
        height: 60px;
    }

    .plans__card-p{
        font-size: 18px;
        line-height: 28px;
        padding: 0 2.8rem;
        margin-bottom: 3rem;
    }

    .plans__extracharge{
        font-size: 12px;
        line-height: 16px;
    }

    /* WATCH */

    .watch{
        padding: 5.6vw;
    }

    .watch__container-title{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 24px;
    }

    .watch__container-p{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: .2px;
    }

    /* ESPN */

    .espn{
        padding: 5.6vw;
    }

    .espn__container{
        padding: 0 2vw;
        width: 50%;
    }

    .espn__container-title{
        font-size: 40px;
        line-height: 50px;
    }

    .espn__container-subtitle{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: .2px;
    }

    /* SIMPSONS */

    .simpsons__container{
        margin-bottom: 38%;
        transition: all 0.2s;
    }

    .simpsons__title{
        margin-bottom: 24px;
        font-size: 40px;
        line-height: 50px;
    }

    .simpsons__p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
        letter-spacing: .2px;
    }

    /* DEVICES */

    .device{
        padding: 5.6vw;
    }

    .device__title{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 24px;
    }

    .device__card-title{
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 24px;
    }

    .device__card-li{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: .2px;
    }

    /* FAQ */

    .faq{
        padding: 5.6vw;
    }

    .faq__title{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 24px;
    }

    .faq__card-question{
        font-size: 20px;
        line-height: 30px;
    }

    /* FOOTER */

    .footer__container-lang, .footer__container-li{
        font-size: 12px;
        line-height: 16px;
    }
}

@media (min-width: 1440px){
    .simpsons__container{
        margin-bottom: 50%;
        transition: all 0.2s;
    }

    .footer__adress{
        padding: 0 12rem;
    }
}